In [2]:
#Q1. Create one variable containing following type of data:
#(i) string
#(ii) list
#(iii) float
#(iv) tuple

In [3]:
s="String"

In [4]:
l=[1,2,3,4,5.6,"This is list"]

In [5]:
f=2.48

In [26]:
t=(1,2,3,4,5)

In [8]:
#Q2. Given are some following variables containing data:
#(i) var1 = ‘ ‘
#(ii) var2 = ‘[ DS , ML , Python]’
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#(iv) .
#What will be the data type of the above given variable.

In [10]:
var1=' '

In [15]:
var2 = '[ DS , ML , Python]'

In [18]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [19]:
var4 = 1

In [20]:
type(var1)

str

In [21]:
type(var2)

str

In [22]:
type(var3)

list

In [23]:
type(var4)

int

In [25]:
#Q3. Explain the use of the following operators using an example:
#(i) /
#(ii) %
#(iii) //
#(iv) **

In [30]:
(6/2)

3.0

In [31]:
7%2

1

In [32]:
7//2

3

In [33]:
2**4

16

In [34]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.

In [35]:
l=[1,2,3,4,5.65,"Adarsh"]

In [37]:
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5.65
<class 'float'>
Adarsh
<class 'str'>

In [ ]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.

In [52]:
A = 100
B = 5
count = 0

while A >= B:
    A = A-B
    count += 1

print(f"{A} is divisible by {B} {count} times.")

0 is divisible by 5 20 times.

In [ ]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

In [57]:
l=list(range(25))
for i in l:
    if i%3==0:
        print(f"{i} Divisible by three")
    else :
        print(f"{i} is not divisible by three")

0 Divisible by three
1 is not divisible by three
2 is not divisible by three
3 Divisible by three
4 is not divisible by three
5 is not divisible by three
6 Divisible by three
7 is not divisible by three
8 is not divisible by three
9 Divisible by three
10 is not divisible by three
11 is not divisible by three
12 Divisible by three
13 is not divisible by three
14 is not divisible by three
15 Divisible by three
16 is not divisible by three
17 is not divisible by three
18 Divisible by three
19 is not divisible by three
20 is not divisible by three
21 Divisible by three
22 is not divisible by three
23 is not divisible by three
24 Divisible by three

In [ ]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.

In [ ]:
mutable data types can be modified at any instance of the code but that does not holds for immutable data t